<h2>マイページ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= profile_img_bg(@user) if profile_img_bg(@user) %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :プロフィール %><br />
    <%= f.text_area :profile %>
  </div>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(変更不要の場合、入力不要)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(アカウント情報変更には、現在のパスワードが必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  
  <div class="actions">
    <br/><%= f.submit "更新" %>
  </div>
<% end %>

<br/>
<%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %><br/>

<%= link_to "Back", :back %>
